<p-toast></p-toast>
<app-navbar></app-navbar>
@if (isLoading) {
<app-loader text="Loading..." [overlay]="true"></app-loader>
}
<main class="container">
    <button
        size="l"
        tuiButton
        type="button"
        (click)="openDialogCreate(createForm)"
    >
        New
    </button>

    <table tuiTable class="table" [columns]="columns" [style.width.%]="100">
        <thead>
            <tr tuiThGroup></tr>
        </thead>
        <tbody tuiTbody>
            @for(facility of facilities; track facility.id; let i = $index) {
            <tr tuiTr>
                <td *tuiCell="'Id'" tuiTd>
                    {{ i + 1 }}
                </td>
                <td *tuiCell="'Name'" tuiTd>
                    {{ facility.name }}
                </td>
                <td *tuiCell="'Action'" tuiTd>
                    <span tuiStatus style="display: flex">
                        <button
                            tuiIconButton
                            appearance="primary"
                            iconStart="@tui.pencil"
                            size="xs"
                            type="button"
                            [style.border-radius.%]="100"
                            [style.background]="'white'"
                            [style.color]="'blue'"
                            (click)="openDialogUpdate(updateForm, facility)"
                        >
                            Edit
                        </button>
                        <button
                            appearance="action"
                            iconStart="@tui.trash"
                            size="xs"
                            tuiIconButton
                            type="button"
                            [style.border-radius.%]="100"
                            [style.color]="'red'"
                            (click)="deleteFacility(facility.id)"
                        >
                            Delete
                        </button>
                    </span>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <ng-template #createForm>
        <div class="centered-form-container">
            <form
                tuiCardLarge
                [formGroup]="formFacility"
                [style.max-width.rem]="32"
                [style.padding.px]="5"
                (ngSubmit)="CreateFacilityInput()"
            >
                <tui-textfield>
                    <label tuiLabel>Name</label>
                    <input
                        formControlName="name"
                        placeholder="Name"
                        tuiTextfield
                    />
                    @if(formFacility.get('name')?.invalid &&
                    formFacility.get('name')?.touched) {
                    <div>
                        <small class="text-red-500">Name is required</small>
                    </div>
                    }
                </tui-textfield>
                <button tuiButton type="button" (click)="CreateFacilityInput()">
                    Submit
                </button>
            </form>
        </div>
    </ng-template>
    <ng-template #updateForm>
        <form
            tuiCardLarge
            [formGroup]="formFacility"
            [style.max-width.rem]="32"
            [style.padding.px]="5"
            (ngSubmit)="updateFacility()"
        >
            <tui-textfield>
                <label tuiLabel>Name</label>
                <input formControlName="name" placeholder="Name" tuiTextfield />
                @if(formFacility.get('name')?.invalid &&
                formFacility.get('name')?.touched) {
                <div>
                    <small class="text-red-500">Name is required</small>
                </div>
                }
            </tui-textfield>
            <div class="tui-form__buttons tui-space_top-3">
                <button
                    tuiButton
                    type="button"
                    appearance="primary"
                    (click)="updateFacility()"
                >
                    Update Facility
                </button>
            </div>
        </form>
    </ng-template>
</main>
