<p-toast></p-toast>
<app-navbar></app-navbar>
@if (isLoading) {
<app-loader text="Loading..."></app-loader>
}
<div class="profile-container">
    <h1 class="profile-title">Thông tin cá nhân</h1>
    <p class="profile-subtitle">
        Cập nhật thông tin của bạn và tìm hiểu các thông tin này được sử dụng ra
        sao.
    </p>

    <div *ngIf="isLoading" class="loading-indicator">
        <tui-loader size="m"></tui-loader>
    </div>

    <div
        *ngIf="notification"
        class="notification"
        [class]="notification.status"
    >
        {{ notification.message }}
    </div>

    <form
        *ngIf="!isLoading"
        [formGroup]="profileForm"
        (ngSubmit)="updateUserProfile()"
        class="profile-form"
    >
        <div class="profile-card">
            <!-- Name -->
            <div class="form-group">
                <label class="field-label">Tên:</label>
                <tui-textfield class="no-padding">
                    <input
                        placeholder="Tên người dùng"
                        tuiTextfield
                        formControlName="username"
                    />
                </tui-textfield>

                @if(profileForm.get('username')?.invalid &&
                profileForm.get('username')?.touched) {
                <div class="error-message">Vui lòng nhập tên</div>
                }
            </div>
            <!-- Phone -->
            <div class="form-group phone-field">
                <label class="field-label">Số điện thoại: </label>
                <tui-textfield class="no-padding-phone">
                    <input
                        placeholder="Số điện thoại"
                        tuiTextfield
                        formControlName="phone"
                    />
                </tui-textfield>
                @if(profileForm.get('phone')?.invalid &&
                profileForm.get('phone')?.touched) {
                <div class="error-message">Vui lòng nhập số điện thoại</div>
                }
                <div class="field-hint">
                    Chỗ nghỉ hoặc địa điểm tham quan bạn đặt sẽ liên lạc với bạn
                    qua số này nếu cần.
                </div>
            </div>

            <!-- Gender -->
            <div class="form-group">
                <label class="field-label">Giới tính</label>
                <div class="gender-options">
                    <label tuiLabel>
                        <input
                            tuiRadio
                            type="radio"
                            formControlName="gender"
                            [value]="Gender.Male"
                            name="gender"
                        />
                        Nam
                    </label>
                    <label tuiLabel>
                        <input
                            tuiRadio
                            type="radio"
                            formControlName="gender"
                            [value]="Gender.Female"
                            name="gender"
                        />
                        Nữ
                    </label>
                </div>
            </div>

            <!-- Birthday -->
            <div class="form-group">
                <label class="field-label">Ngày sinh</label>
                <p-datepicker
                    formControlName="birthday"
                    dateFormat="dd.mm.yy"
                ></p-datepicker>
                @if(profileForm.get('birthday')?.invalid &&
                profileForm.get('birthday')?.touched) {
                <div class="error-message">Vui lòng chọn ngày sinh</div>
                }
            </div>
        </div>

        <div class="action-buttons">
            <button
                tuiButton
                type="submit"
                appearance="primary"
                [disabled]="profileForm.invalid"
            >
                Lưu thay đổi
            </button>
        </div>
    </form>
</div>
