.container {
    padding: 24px;
    height: 100%;
    background-color: #f9f9f9;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 24px 0;
    font-size: 16px;
    text-align: left;
    border: 1px solid #ddd;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.mr-8 {
    margin-right: 8px;
}

.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.text-red-500 {
    color: red;
}

.text-nowrap {
    text-wrap: nowrap;
}

.facilities-form {
    margin: 24px 0;
}

.facilities-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.facility-heading {
    margin-bottom: 8px;
}

.facility-item {
    margin-bottom: 8px;
}
tui-textfield {
    margin-bottom: 10px;
  }

  


@media (max-width: 768px) {
    .table {
        width: 50px;
    }
}
