main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .room-information-container {
        font-weight: bold;
        font-size: 20px;
    }

    .room-image-container {
        width: 100%;

        ::ng-deep {
            .p-galleria {
                border-style: none;
            }

            .p-icon {
                width: 50px;
                color: #526ed3;
            }

            .p-galleria-thumbnail {
                overflow: hidden;
            }
        }

        .image-wrapper {
            height: 430px;
            display: flex;
            flex-direction: column;
            gap: 0px;
            align-items: center;
            justify-content: center;
            // margin-bottom: 5px;

            .main-image {
                height: 90%;
                width: auto;
                object-fit: contain;
                border-radius: 12px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .number-image {
                margin: 5px;
                font-size: 20px;
            }
        }

        .thumbnail-image {
            height: 100px;
            object-fit: cover;
            border-radius: 8px;
            cursor: pointer;
            padding: 0;
            margin: 0;
        }
    }
}

// .content {
//     height: 90%;
//     padding: 10px;
//     align-content: center;
//     overflow: hidden;
// }

// .content::-webkit-scrollbar {
//     display: none;
// }
