<p-toast></p-toast>
<app-navbar></app-navbar>
@if (isLoading) {
<app-loader text="Loading..." [overlay]="true"></app-loader>
}
<main class="container">
    <button
        size="l"
        tuiButton
        type="button"
        (click)="openDialogCreate(createForm)"
    >
        New
    </button>

    <table tuiTable class="table" [columns]="columns" [style.width.%]="100">
        <thead>
            <tr tuiThGroup></tr>
        </thead>
        <tbody tuiTbody>
            @for(facility of facilities; track facility.id; let i = $index) {
            <tr tuiTr>
                <td *tuiCell="'Id'" tuiTd>
                    {{ i + 1 }}
                </td>
                <td *tuiCell="'Name'" tuiTd>
                    {{ facility.name }}
                </td>
                <td *tuiCell="'Image'" tuiTd>
                    <img
                        [src]="
                            'http://localhost:8080/uploads/' + facility.image
                        "
                        alt="Facility icon"
                        class="svg-icon"
                        style="width: 50px; height: 50px"
                    />
                </td>
                <td *tuiCell="'Action'" tuiTd>
                    <span tuiStatus style="display: flex">
                        <button
                            tuiIconButton
                            appearance="primary"
                            iconStart="@tui.pencil"
                            size="xs"
                            type="button"
                            [style.border-radius.%]="100"
                            [style.background]="'white'"
                            [style.color]="'blue'"
                            (click)="openDialogUpdate(updateForm, facility)"
                        >
                            Edit
                        </button>
                        <button
                            appearance="action"
                            iconStart="@tui.trash"
                            size="xs"
                            tuiIconButton
                            type="button"
                            [style.border-radius.%]="100"
                            [style.color]="'red'"
                            (click)="deleteFacility(facility.id)"
                        >
                            Delete
                        </button>
                    </span>
                </td>
                <!-- <td *tuiCell="'Show Facility Detail'" tuiTd>
                    <a
                        class="button"
                        target="_blank"
                        [routerLink]="[
                            '/admin/facility/',
                            facility.id,
                            'details'
                        ]"
                        >Show</a
                    >
                </td> -->
            </tr>
            }
        </tbody>
    </table>

    <ng-template #createForm>
        <div class="centered-form-container">
            <form
                tuiCardLarge
                [formGroup]="formFacility"
                [style.max-width.rem]="32"
                [style.padding.px]="5"
                (ngSubmit)="CreateFacilityInput()"
            >
                <tui-textfield>
                    <label tuiLabel>Name</label>
                    <input
                        formControlName="name"
                        placeholder="Name"
                        tuiTextfield
                    />
                    @if(formFacility.get('name')?.invalid &&
                    formFacility.get('name')?.touched) {
                    <div>
                        <small class="text-red-500">Name is required</small>
                    </div>
                    }
                </tui-textfield>
                <label *ngIf="!control.value" tuiInputFiles>
                    <input
                        accept="image/*"
                        tuiInputFiles
                        [formControl]="control"
                    />
                </label>

                <tui-files class="tui-space_top-1">
                    <tui-file
                        *ngIf="
                            control.value
                                | tuiFileRejected : { accept: 'image/*' }
                                | async as file
                        "
                        state="error"
                        [file]="file"
                        (remove)="removeFile()"
                    />

                    <tui-file
                        *ngIf="loadedFiles$ | async as file"
                        [file]="file"
                        (remove)="removeFile()"
                    />

                    <tui-file
                        *ngIf="failedFiles$ | async as file"
                        state="error"
                        [file]="file"
                        (remove)="removeFile()"
                    />

                    <tui-file
                        *ngIf="loadingFiles$ | async as file"
                        state="loading"
                        [file]="file"
                        (remove)="removeFile()"
                    />
                </tui-files>
                <button tuiButton type="button" (click)="CreateFacilityInput()">
                    Submit
                </button>
            </form>
        </div>
    </ng-template>
    <ng-template #updateForm>
        <form
            tuiCardLarge
            [formGroup]="formFacility"
            [style.max-width.rem]="32"
            [style.padding.px]="5"
            (ngSubmit)="updateFacility()"
        >
            <tui-textfield>
                <label tuiLabel>Name</label>
                <input formControlName="name" placeholder="Name" tuiTextfield />
                @if(formFacility.get('name')?.invalid &&
                formFacility.get('name')?.touched) {
                <div>
                    <small class="text-red-500">Name is required</small>
                </div>
                }
            </tui-textfield>

            <!-- Phần upload hình ảnh -->
            <div class="image-upload-section tui-space_top-3">
                <label tuiLabel>Image</label>

                <!-- Hiển thị hình ảnh hiện tại nếu đang update và chưa chọn file mới -->
                @if(!control.value && idFacilityUpdating) {
                <div class="current-image">
                    <span class="image-caption">Current image: </span>
                    <img
                        [src]="getCurrentFacilityImageUrl()"
                        alt="Current facility image"
                        class="preview-image"
                        style="width: 50px; height: 50px"
                    />
                </div>
                }

                <!-- Input cho upload file mới -->
                <label
                    *ngIf="!control.value"
                    tuiInputFiles
                    class="tui-space_top-2"
                >
                    <input
                        tuiInputFiles
                        [multiple]="false"
                        accept="image/*"
                        [formControl]="control"
                    />
                    <span>Choose new image</span>
                </label>

                <!-- Hiển thị file đã chọn -->
                <tui-files class="tui-space_top-2">
                    <tui-file
                        *ngIf="control.value"
                        [file]="control.value"
                        (remove)="control.reset()"
                    ></tui-file>
                </tui-files>
            </div>

            <div class="tui-form__buttons tui-space_top-3">
                <button
                    tuiButton
                    type="button"
                    appearance="primary"
                    (click)="updateFacility()"
                >
                    Update Facility
                </button>
            </div>
        </form>
    </ng-template>
    <!-- <ng-template #updateForm>
        <form
            tuiCardLarge
            [formGroup]="formFacility"
            [style.max-width.rem]="32"
            [style.padding.px]="5"
            (ngSubmit)="updateFacility()"
        >
            <tui-textfield>
                <label tuiLabel>Name</label>
                <input formControlName="name" placeholder="Name" tuiTextfield />
                @if(formFacility.get('name')?.invalid &&
                formFacility.get('name')?.touched) {
                <div>
                    <small class="text-red-500">Name is required</small>
                </div>
                }
            </tui-textfield>
            <button tuiButton type="button" (click)="updateFacility()">
                Submit
            </button>
        </form>
    </ng-template> -->
</main>
