<div class="search-box">
    <div class="place-picker">
        <tui-combo-box
            [tuiTextfieldCleaner]="true"
            [formControl]="searchCityControl"
        >
            City
            <tui-data-list-wrapper
                *tuiDataList
                [items]="cityNames | tuiFilterByInput"
            />
            @if (isSearchCityInvalid) {
            <div>
                <small class="text-red-500">City is required</small>
            </div>
            }
            
        </tui-combo-box>

    </div>
    <div class="date-picker">
        <tui-input-date-range [min]="today" [formControl]="DayControl">Choose dates
        </tui-input-date-range>
    </div>
    <div class="search-button">
        <button size="l" tuiButton type="button" (click)="search()">
            Search
        </button>
    </div>
</div>
