<app-navbar></app-navbar>
<app-search-box></app-search-box>
@if (isLoading) {
<app-loader text="Loading..." [overlay]="true"></app-loader>
}

<div class="hotel-booking-container">
    <div class="filter-panel">
        <h3>Filter by:</h3>
        <div class="filter-section">
            <h4>Your previous filters</h4>
            <ul class="filter-list">
                @for (item of customCheckboxes;track item.id; let first =
                $first){
                <li class="wrapper">
                    <input
                        tuiCheckbox
                        type="checkbox"
                        [ngModel]="item.checked"
                        (ngModelChange)="onCheckboxChange(item, $event)"
                        [size]="getSize(first)"
                    />
                    {{ item.label }}
                </li>
                }
            </ul>
        </div>

        <!-- <div class="filter-section">
            <h4>Your budget (per night)</h4>
            <tui-input-range [formControl]="control" [max]="max" [min]="min" [tuiTextfieldLabelOutside]="false" />
        </div> -->
    </div>

    <div class="hotel-listings">
        <div *ngIf="error" class="error-message">
            Failed to load hotels. Please try again later.
        </div>

        @for (hotel of filteredHotels; track hotel.id){
        <div class="hotel-card">
            <div class="hotel-image">
                @for (image of hotel.images.slice(0, 1); track image){
                <img
                    [src]="'http://localhost:8080/uploads/' + image"
                    [alt]="hotel.name"
                    [routerLink]="['/search/accommodation/detail', hotel.id]"
                    [queryParams]="{
                            name: hotel.name,
                            city: hotel.city,
                            checkIn: checkIn,
                            checkOut: checkOut,
                        }"
                />
                }
                <!-- <div class="featured-badge">
                    <tui-icon icon="@tui.heart"></tui-icon>
                </div> -->
            </div>

            <div class="hotel-content">
                <div class="hotel-header">
                    <h2
                        class="hotel-name"
                        [routerLink]="[
                            '/search/accommodation/detail',
                            hotel.id
                        ]"
                        [queryParams]="{
                            name: hotel.name,
                            city: hotel.city,
                            checkIn: checkIn,
                            checkOut: checkOut,
                        }"
                    >
                        {{ hotel.name }}
                        <span class="stars">{{ getStars(hotel.rating) }}</span>
                    </h2>
                    <div class="location">
                        <!--                        <tui-icon icon="@tui.mappin"></tui-icon>-->
                        {{ hotel.city }}, {{ hotel.district }},
                        {{ hotel.country }}
                    </div>
                </div>

                <div class="room-info">
                    <!--                    <h3 class="room-type">{{ hotel.roomType }}</h3>-->
                    <!--                    <p class="room-details">{{ hotel.bedInfo }}</p>-->
                </div>

                <div class="rating-price">
                    <div class="rating">
                        <!--                        <div class="rating-score">{{ hotel.reviewScore }}</div>-->
                        <!--                        <div class="rating-text">{{ hotel.reviewText }}</div>-->
                        <!--                        <div class="review-count">{{ hotel.reviewCount }} reviews</div>-->
                    </div>

                    <div class="price-section">
                        <!--                        <div class="price-info">1 night, 2 adults</div>-->
                        <!--                        <div class="price">{{ formatPrice(hotel.price) }}</div>-->
                        <!--                        <div class="tax-info">Includes taxes and charges</div>-->
                        <button
                            class="view-availability"
                            [routerLink]="[
                                '/search/accommodation/detail',
                                hotel.id
                            ]"
                            [queryParams]="{
                                name: hotel.name,
                                city: hotel.city,
                                checkIn: checkIn,
                                checkOut: checkOut,
                            }"
                        >
                            See availability
                        </button>
                    </div>
                </div>
            </div>
        </div>
        }

        <div class="load-more">
            <button
                class="load-more-button"
                (click)="loadMoreHotels()"
                [disabled]="pagination.limit >= pagination.total">
                Load more hotels
            </button>
    </div>
</div>
