<p-toast></p-toast>
@if (isLoading) {
<app-loader text="Loading..." [overlay]="true"></app-loader>
}
<main>
    <div class="login-container">
        <h1 class="login-title">Login</h1>

        <form [formGroup]="formLogin" class="form" (ngSubmit)="handleLogin()">
            <div class="input-group">
                <tui-textfield>
                    <label tuiLabel>Account</label>
                    <input formControlName="account" tuiTextfield type="text" />
                </tui-textfield>
                @if(formLogin.get('account')?.invalid &&
                formLogin.get('account')?.touched) {
                <div>
                    @if (formLogin.get('account')?.hasError('required')) {
                    <small class="text-red-500">
                        Vui lòng nhập tài khoản
                    </small>
                    } @if (formLogin.get('account')?.hasError('backend')) {
                    <small class="text-red-500">{{
                        formLogin.get("account")?.errors?.['backend']
                    }}</small>
                    }
                </div>
                }
            </div>
            <div class="input-group">
                <tui-textfield>
                    <label tuiLabel>Password</label>
                    <input
                        formControlName="password"
                        tuiTextfield
                        type="password"
                    />
                    <tui-icon tuiPassword />
                </tui-textfield>
                @if(formLogin.get('password')?.invalid &&
                formLogin.get('password')?.touched) {
                <div>
                    <small class="text-red-500">Vui lòng nhập mật khẩu</small>
                </div>
                }
            </div>

            <button type="submit" class="login-button">LOGIN</button>
        </form>
    </div>
</main>
